section#sponsors.sponsor-section.clients-section
  .container
    h2
      strong #{ sponsors.title }
    each item in sponsors.items
      h2
        strong #{ item.label }
      ul(class=`list-unstyled ${ item.type }`)
        each sponsor in item.companies
          li
            a(href=`${ sponsor.url }`)
              img(src=`${ sponsor.image }`, alt=`${ sponsor.name }`, class=`sponsor-${ item.type }`)
            p #{ sponsor.bio }
    p.text-center !{ sponsors.link }
