.schedule
  .center
    .schedule__layout
      h2.section__title #{schedule.title}
      .schedule-nav
        each day, index in schedule.days
          a(href="#", class="#{index < 1 ? 'active' : ''}", data-day="#{day.day}") #{day.date}
      .schedule-talks
        .schedule-talks-group
          each talk, index in schedule.talks
            div(class="schedule-talk #{talk.day != 'monday' ? 'none' : ''}", data-talk-day="#{talk.day}-talk")
              time(class="schedule-talk__time", datetime="#{talk.time}") #{talk.time}
              h2.schedule-talk__title #{talk.title}
              a(href="#", class="schedule-talk__close") &times;
              .schedule-talk__details
                .schedule__speakers-group
                  each performer, index in talk.performers
                    .schedule__speakers-group__item
                      img(src="#{performer.photo}")
                      h3 #{performer.name}
                .schedule__info
                  p #{talk.desc}
                  .schedule-talk__tags
                    each tag, index in talk.tags
                      span #{tag}
