.speakers
  .center
    h2.section__title Palestrantes
    .speakers__layout

      - var counter=0
      - var css=''

      each speaker, index in speakers
        - counter++
        if counter <= 2
          - css='left'
        if counter > 2
          - css='right'
        if counter >= 4
          - counter=0

        div(class="speakers__item #{css}")
          .speakers__item-content
            .speakers__photo(style="background:url(#{speaker.photo});background-size:cover;")
            .speakers__info
              h3.speakers__name #{speaker.name}
              span.speakers__bio #{speaker.bio}
              .speakers__social
                span tt
                span in
                span fb

.speakers-call-to-action
  .center
    h2.section__title #{speakers_call.title}
    span #{speakers_call.text} &nbsp;
      a(href="#", target="_blank") Link
