.spkrs#speakers
  .center
    h2.section__title #{speakers.title}
    .spkrsl

      - var counter=0
      - var css=''

      each speaker, index in speakers.items
        - counter++
        if counter <= 2
          - css='left'
        if counter > 2
          - css='right'
        if counter >= 4
          - counter=0

        div(class="spkrs-i #{css}")
          .spkrs-ic
            .spkrs-p(style="background:url(#{speaker.photo});background-size:cover;")
            .spkrs-info
              h3.spkrs-nm #{speaker.name}
              span.spkrs-bio #{speaker.bio}
              .spkrs-scl
                span tt
                span in
                span fb

.spkrs-cta
  .center
    h2.section__title #{speakers_call.title}
    span #{speakers_call.text} &nbsp;
      a(href="https://goo.gl/forms/qJW3xNOn8zfeHFUq2", target="_blank") Link
