.sponsors
  .center
    .sponsors__layout
      h2.section__title Patrocinadores
      span Nossos parceiros contribuem para o sucesso da TechParty
      .sponsors-content
        each val, index in sponsors
          div(class="sponsors-group #{val.type}")
            h2.section__title #{val.label}
            each company, index in val.companies
              .sponsor-item
                .sponsor-photo
                  a(href="#{company.url}")
                    img(src="#{company.image}")
                .sponsor-info
                  h3.sponsor-name
                    a(href="#{company.url}") #{company.name}
                  if val.type == 'adamantium'
                    span.sponsor-bio #{company.bio}
