.sprs#sponsors
  .center
    .sprsl
      h2.section__title #{sponsors.title}
      span #{sponsors.subtitle}
      .sprsc
        each item, index in sponsors.items
          div(class="sprsg #{item.type}")
            h2.section__title #{item.label}
            each company, index in item.companies
              .sprsitm
                .sprsp
                  a(href="#{company.url}")
                    img(src="#{company.image}")
                .sprsi
                  h3.sprsn
                    a(href="#{company.url}") #{company.name}
                  if item.type == 'diamond'
                    span #{company.bio}
