.sponsors
  .center
    .sponsors__layout
      h2.section__title #{sponsors.title}
      span #{sponsors.subtitle}
      .sponsors-content
        each item, index in sponsors.items
          div(class="sponsors-group #{item.type}")
            h2.section__title #{item.label}
            each company, index in item.companies
              .sponsor-item
                .sponsor-photo
                  a(href="#{company.url}")
                    img(src="#{company.image}")
                .sponsor-info
                  h3.sponsor-name
                    a(href="#{company.url}") #{company.name}
                  if item.type == 'adamantium'
                    span.sponsor-bio #{company.bio}
